body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0D0A0B;
    color: #72B01D;
    padding: 20px;
}

h1 {
  background-color: #0D0A0B;
  color: #72B01D;
  padding: 20px;
  margin: 0;
  text-align: center;

}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

table {
    margin-top: 10%;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left:40%;
}

